body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
.orange{
    color: orange;

}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 10%;
}
 
.half-width img{
    width: 80%;
}
.half-width2{
    width: 30%;
    padding-left: 10%;
}
.half-width3{
    width: 70%;
    padding-left: 10%;
}
.half-width2 img{
    width: 90%;
}

.linked-button{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: none;
}
.top-banner2{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    margin: none;
    background-position: right;   
}
.experiment-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    box-shadow:10px 10px 40px gray ;
    
}
h2{
    font-size: 40px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
}
#web-develop{
    border-image: linear-gradient(rgb(36, 15, 224),rgb(75, 214, 233));
    border-left: 7px solid;
    border-image-slice: 1;
}
#full-stack{
    border-image: linear-gradient(rgb(1, 36, 4),rgb(68, 187, 78));
    border-left: 7px solid;
    border-image-slice: 1;
}
footer p{
    text-align:center ;
}